.text-bold{
    font-weight: bold;
}

.cluster-bg-0{
    background-color:#F9B6AF
}
.cluster-bg-1{
    background-color:#B8CAE7
}
.cluster-bg-2{
    background-color:#CCEAC5
}
.cluster-bg-3{
    background-color:#DBCEE2
}
.cluster-bg-4{
    background-color:#FCDBA0
}
.cluster-bg-5{
    background-color:#FFFECE
}
.cluster-bg-6{
    background-color:#E6D8BD
}
.cluster-bg-7{
    background-color:#FFDAEB
}
.cluster-bg-8{
    background-color:#F2F2F2
}
.cluster-bg-9{
    background-color:#94D0C6
}
.cluster-bg-10{
    background-color:#FD8B66
}
.cluster-bg-11{
    background-color:#909DCF
}
.cluster-bg-12{
    background-color:#E28DC2
}
.cluster-bg-13{
    background-color:#A6D759
}
.cluster-bg-14{
    background-color:#FCD935
}
.cluster-bg-15{
    background-color:#B6B1B5
}
